@model ClockIndexModel

@{
    Layout = null;
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Clock)
            {
                <div class="col-md-3">
                    <div class="card mb-3 box-shadow">
                        <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.Src) width="70" height="300" fill="white">
                        <div class="card-body">
                            <span class="d-inline-block text-truncate" style="max-width: 200px;">
                                @Html.DisplayFor(modelItem => item.Name)
                            </span>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Prise)$</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new {@class = "btn btn-primary "})
                                    @if (item.AddToShoppingCart != true)
                                    {
                                        <a class="btn btn-success" href="javascript:void(0);" onclick="sortIsShopingCart(@item.Id, @Model.PageCount)">
                                            Buy
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-secondary" href="javascript:void(0);" onclick="sortIsShopingCart(@item.Id, @Model.PageCount)">
                                            Remove
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@if (Model.allPagesViews == true)
{
    <div class="col-sm-12 py-3 py-md-3 px-3">
        <h2 class="d-inline p-2 bg-primary text-white text-center">there is nothing more</h2>
    </div>
}
else
{
    <a class="btn btn-primary" href="~/Clock/Index?isAjax=true&currentPage=@Model.PageCount" onclick="" role="button">
        Show more
    </a>
}

